#featured-post-image {
    background-image: url("");
}

#post-1-image {
    background-image: url("");
}

#post-2-image {
    background-image: url("");
}

#post-3-image {
    background-image: url("");
}

#post-4-image {
    background-image: url("");
}