#featured-post-image {
    background-image: url("/images/fury/whatsnew.png");
}

#post-1-image {
    background-image: url("/images/soon.png");
}

#post-2-image {
    background-image: url("/images/soon.png");
}

#post-3-image {
    background-image: url("/images/soon.png");
}

#post-4-image {
    background-image: url("/images/soon.png");
}