#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-size: 6rem;
    font-weight: 600;
}

#logo {
    width: 10rem;
    margin-top: 1rem;
}

#tagline {
    font-size: 1.75rem;
    margin-top: 1rem;
    text-align: center;
}

#banner-section {
    height: 10.42vw;
    margin-top: 2rem;
}

#banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 100% 80%;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

#spec-selection {
    display: flex;
    justify-content: center;
}

#spec-selection div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.spec-icon {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

.spec-button {
    width: 35rem;
    height: 7.5rem;
}

.spec-link {
    font-size: 4rem;
    text-decoration: none;
    text-align: center;
    line-height: 7.5rem;
}

.divider {
    border-top: solid 1px #e6e6e6;
    width: 1216px;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

#links {
    display: flex;
    justify-content: center;
}

#links div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10rem;
    margin-right: 10rem;
}

.link-image {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#made-by {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    font-size: 1.5rem;
}