.news {
    margin-top: 2rem;
}

#recent-articles {
    width: 30rem;
    height: 100%;
}

#news {
    height: 38rem;
}

.news > div {
    width: 100%
}

.news-title {
    font-size: 2rem;
    margin-top: 1rem;
}

.news-items {
    align-items: flex-start;
}

#news-items {
    padding-top: 0.5rem;
}

.news-items > div {
    margin-left: 1rem;
    margin-top: 1rem;
}

#recent-items > div {
    margin-top: 1.5rem;
}

.recent-first {
    margin-top: 1.2rem !important;
}

.news-items i {
    font-size: 1.6rem;
}

.news-items a {
    text-decoration: none;
}

.news-item {
    font-size: 1.6rem;
    margin-left: 1rem;
}

.recent-spec-icon {
    width: 2.4rem;
}

@media screen and (min-width: 0px) and (max-width: 1800px) {
    
    #recent-articles {
        height: 38.7rem;
    }
}