main > div {
    max-width: 107rem;
}

#post-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#title {
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
}

#date {
    font-size: 2.4rem;
    text-align: center;
}

#authors {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#authors > div {
    margin-left: 1rem;
    margin-right: 1rem;
}

#author-image {
    border-radius: 50%;
    background-color: #111;
    object-fit: cover;
    object-position: center;
    height: 5rem;
    width: 5rem;
}

#author-name {
    font-size: 1.6rem;
    margin-top: 0.4rem;
}

#author-social a {
    text-decoration: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.4rem;
}

#author-social i {
    font-size: 1.6rem;
}

article {
    padding-left: 2rem;
    padding-right: 2rem;
}

/*
    Article Formatting
*/

.wowhead-tooltip * {
    font-size: 100%;
}

article h1 {
    font-size: 3.5rem;
}

article h2 {
    font-size: 3rem;
}

article h3 {
    font-size: 2.5rem;
}

article * {
    font-size: 2rem;
}

article a {
    text-decoration: none;
    color: #ffcc66;
}

article li {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

article .code {
    padding: 0.3rem;
    box-shadow: inset 0 0 5px #111;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
    font-size: 1.6rem;
}

article textarea {
    resize: none;
    color: #111;
}

article img {
    max-width: 100%;
}

/* Wowhead Icons */

.iconsmall {
    bottom: 0.2rem;
    margin-right: 0.4rem;
}

.iconmedium {
    bottom: 0.2rem;
    margin-right: 0.4rem;
}

/* Formatting Classes */

.large-link {
    font-size: 2.5rem !important;
    font-weight: bold;
}

.center-text {
    text-align: center;
}

.image-margin {
    margin-top: 0.6rem !important;
}

.center-image {
    display: block;
    margin: 0 auto;
}

/*

*/

#return-to-top {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-decoration: none;
}

#return-to-top * {
    font-size: 2rem;
}