#featured-post-image {
    background-image: url("/images/protection/tier21.png");
}

#post-1-image {
    background-image: url("/images/protection/Netherlight Crucible - Tier 3.png");
}

#post-2-image {
    background-image: url("/images/protection/Netherlight Crucible - Tier 2.png");
}