#featured-post-image {
    background-image: url("/images/protection/whatsnew.png");
}

#post-1-image {
    background-image: url("/images/soon.jpg");
}

#post-2-image {
    background-image: url("/images/soon.jpg");
}

#post-3-image {
    background-image: url("/images/soon.jpg");
}

#post-4-image {
    background-image: url("/images/soon.jpg");
}