.post-link {
    margin: 1rem;
    text-decoration: none;
}

#featured-post {
    width: 62.9rem;
    height: 38rem;
}

.post-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    border-bottom: solid 1px #111;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.post-text {
    width: 100%; 
    height: 20%;
}

.post-title {
    font-size: 2.5rem;
    font-weight: 600;
}

.post-description {
    font-size: 1.5rem;
}

#featured-post-image {
    background-image: url("../images/protection/tier21.png");
}

#news {
    width: 41.9rem;
    height: 38rem;
}

.posts {
    width: 52.4rem;
    height: 34rem;
}