---
layout: layouts/base.njk
css: ['home', 'news']
---

<div class="flex-column">
    <span id="title">Skyhold</span>
    <img id="logo" src="/images/logo.png">
    <span id="tagline">Warrior guides, theorycrafting, and more.</span>
</div>

<div id="banner-section">
    <img id="banner" src="/images/home/banner.png">
</div>

<main class="flex-center">

    <div class="flex-center flex-stretch flex-1">
        <img class="warrior-crest" src="/images/warrior-crest.png">
    </div>

    <div class="flex-1 flex-order-2">

        <div class="flex-column">

            <nav id="spec-selection" class="flex-center">

                <div class="flex-column">
                    <a id="arms-icon-link" class="spec-icon" href="/arms.html"><img class="border" src="/images/home/arms-icon.jpg"></a>
                    <a id="arms-link" class="spec-link" href="/arms.html">
                        <div class="border element-bg-color spec-button">Arms</div>
                    </a>
                </div>

                <div class="flex-column">
                    <a id="fury-icon-link" class="spec-icon" href="/fury.html"><img class="border" src="/images/home/fury-icon.jpg"></a>
                    <a id="fury-link" class="spec-link" href="/fury.html">
                        <div class="border element-bg-color spec-button">Fury</div>
                    </a>
                </div>

                <div class="flex-column">
                    <a id="protection-icon-link" class="spec-icon" href="/protection.html"><img class="border" src="/images/home/protection-icon.jpg"></a>
                    <a id="protection-link" class="spec-link" href="/protection.html">
                        <div class="border element-bg-color spec-button">Protection</div>
                    </a>
                </div>
            </nav>

            <div class="links-divider"></div>

            <div id="links" class="flex-center">

                <div class="flex-center">
                    <a class="link-icon" target="_blank" href="https://discord.gg/Skyhold">
                        <i class="fab fa-discord link-icon-size"></i>
                    </a>
                    <a class="display-none" target="_blank" href="https://discord.gg/Skyhold"><img class="border" src="/images/home/discord-button.png"></a>
                </div>

                <div class="flex-center">
                    <a target="_blank" href="https://twitter.com/Skyholdgg">
                        <i class="fab fa-twitter-square link-icon-size"></i>
                    </a>
                </div>

                <div class="flex-center">
                    <a target="_blank" href="https://www.youtube.com/c/Skyholdgg">
                        <i class="fab fa-youtube-square link-icon-size"></i>
                    </a>
                </div>

                <div class="flex-center">
                    <a class="link-icon" target="_blank" href="https://www.patreon.com/Skyhold">
                        <i class="fab fa-patreon link-icon-size"></i>
                    </a>
                    <a class="display-none" target="_blank" href="https://www.patreon.com/Skyhold"><img class="border" src="/images/home/patreon-button.png"></a>
                </div>
            </div>

            <div class="links-divider"></div>
        </div>
    </div>

    <div class="flex-column flex-stretch flex-1 flex-order-1">

        <div id="recent-articles" class="border element-bg-color flex-column-start news">

            <div class="flex-column">
                <span class="news-title">Recent Articles</span>
                <div class="divider"></div>
            </div>

            <div id="recent-items" class="flex-column-start news-items">

                <div class="flex-center recent-first"><img class="border recent-spec-icon" src="/images/home/protection-icon.jpg">
                    <a class="news-link" href="/protection/8-1protectionfeedback.html">
                        <div class="news-item">October 19</div>
                        <div class="news-item text-link">8.1 Protection Community Feedback</div>
                    </a>
                </div>
                <div class="flex-center"><img class="border recent-spec-icon" src="/images/home/fury-icon.jpg">
                    <a class="news-link" href="/fury/8-1furyfeedback.html">
                        <div class="news-item">October 19</div>
                        <div class="news-item text-link">8.1 Fury Community Feedback</div>
                    </a>
                </div>
                <div class="flex-center"><img class="border recent-spec-icon" src="/images/home/arms-icon.jpg">
                    <a class="news-link" href="/arms/8-1armsfeedback.html">
                        <div class="news-item">October 19</div>
                        <div class="news-item text-link">8.1 Arms Community Feedback</div>
                    </a>
                </div>
                <div class="flex-center"><img class="border recent-spec-icon" src="/images/home/protection-icon.jpg">
                    <a class="news-link" href="/protection/protanalysis.html">
                        <div class="news-item">October 7</div>
                        <div class="news-item text-link">Protection Warrior Analysis</div>
                    </a>
                </div>
                <div class="flex-center"><img class="border recent-spec-icon" src="/images/home/dps-icon.png">
                    <a class="news-link" href="/armsfuryuldir.html">
                        <div class="news-item">September 7</div>
                        <div class="news-item text-link">Arms and Fury in Uldir</div>
                    </a>
                </div>
                <div class="flex-center"><img class="border recent-spec-icon" src="/images/home/arms-icon.jpg">
                    <a class="news-link" href="/arms/masteryhotfix.html">
                        <div class="news-item">August 17</div>
                        <div class="news-item text-link">Mastery Hotfix</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</main>

<div class="flex-center">
    <a id="hol" href="/halloflegends.html">Hall of Legends</a>
</div>

<span id="made-by" class="flex-center">Made by Marok</span>